.rfAlerts {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 300px;
	height: 200px;
	z-index: 60000;
	visibility: hidden;
	margin-left: -150px;
	margin-top: -100px;
	-webkit-box-shadow: 8px 8px 24px rgba(0,0,0,.9);
	-moz-box-shadow: 8px 8px 24px rgba(0,0,0,.9);
	box-shadow: 8px 8px 24px rgba(0,0,0,.9);
	padding: 10px;
	padding-top:7px;
	background: #FFF url('../../img/interface/rfAlertHead.png') repeat-x scroll top left;
}

.alertlarge {
	width: 800px;
	height: 450px;
	margin-left: -400px;
	margin-top: -225px;
}

.rfAlerts>div {
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	background: url('../../img/logo_small.png') no-repeat scroll top left;	
}

.rfAlerts input {
	height: 20px;
	border: 1px solid #999;
	font-size: 14px;
	background: #F0F0F0;	
	margin-bottom: 5px;
	margin-top: 5px;	
}

.rfAlerts input.prompt {
	width: 297px !important;
}

.alertScrollContent {
	width: 300px; 
	height: 130px; 
	position: absolute; 
	overflow: auto
}

.batchcallback {
	overflow: auto;
	left: 10px;
	right: 10px;
	bottom: 50px;
	top: 70px;
	position:absolute;	
}


.rfAlerts input:focus {
	border: 1px solid #999;
	outline: 0 none;
}

/* Close Buttons */

.rfAlerts>a {
	bottom: 5px;
	position: absolute;
	display: block;
}

/* OK Button */

.rfAlerts a.middle {
	margin-left: 75px;
}

/* Cancel Button */

.rfAlerts a.left {
	left: 10px;
}

/* Confirm Button */

.rfAlerts a.right {
	right: 10px;
}

/* Hider Layer */

.rfHider {
	position: absolute;
    display: block;
    z-index: 59999;
	width: 100%;
	height: 100%;	
	left: 0px;
	top: 0px;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	margin: 0px;
	padding: 0px;
	background: #FFF;
}

/* rfForm-Alerts */

#rfPopForm {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;	
}

#rfPopForm label {
	width: 70px;
	display: block;
	float: left;
	padding-top: 4px;
}

#rfPopForm input, #rfPopForm select {
	width: 200px;
}

/* Popform: Tables in Big Popups etc. */



/* Table Fields - also in rfAlertBig*/
/* Exporter Alert Content */

#rfPopFormContainer, #plugchoose, #renderer {
	overflow: auto;
	width: 100%;
	height: 290px;
	margin-bottom: 10px;
}

#plugchoose, #renderer {
	width: 46%;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.4);	
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	border-radius: 3px;	
	color: #444;
	padding: 10px;
	overflow: hidden;
}

#renderer {
	position: absolute;
	left: 50%;
	top: 73px;
	background: #FFF;	
}

#renderer .previewImage {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	overflow: auto;
	left: 10px;
	right: 10px;
	top: 10px;
	height: 245px;
	white-space: nowrap;
	border: 4px solid #433f40;
	background:#433f40;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#736f70', endColorstr='#433f40');
	background: -webkit-gradient(linear, left top, left bottom, from(#736f70), to(#433f40));
	background: -moz-linear-gradient(top,  #736f70,  #433f40);
	color: #FFF;
}

#renderer .bright {
	background: #F0F0F0;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F0F0F0');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F0F0F0));
	background: -moz-linear-gradient(top,  #FFF,  #F0F0F0);
	color: #444;	
	border: 4px solid #F0F0F0;
}

#renderer .previewImage img {
	margin: 5px;
}

#plugchoose {
	background: #FFF;
	margin-right: 10px;
}

#plugchoose > .enginename, #renderer > .enginename {
	width: 100%;
	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
	padding-bottom: 8px;
	margin-bottom: 5px;
	padding-top: 8px;
	margin-top: 8px;
}

#plugchoose > .enginename:first-child, #renderer > .enginename:first-child {
	border-top: none;
	padding-top: 0px;
	margin-top: 0px;
}

#plugchoose input[type="radio"]{
	height: 16px;
	float: right;
}

#plugchoose label{
	width: 80%;
	float: none;
	padding: 0px;
	padding-top: 2px;
}

#plugchoose .pluginname, #renderer .pluginname {
	padding: 4px;
	font-size: 12px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.4);	
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	border-radius: 3px;		
	height: 20px;
	background: #F0F0F0;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F0F0F0');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F0F0F0));
	background: -moz-linear-gradient(top,  #FFF,  #F0F0F0);
	color: #444;

}

#plugchoose .pluginname:hover {
	background: #D0D0D0;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#D0D0D0');
	background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#D0D0D0));
	background: -moz-linear-gradient(top,  #DDD,  #D0D0D0);
	color: #222;
}

#rfPopFormContainer > ul li div	{
	top: 0px;
	left: 0px;
	right: 0px;
	height: 17px;
	width: 52px;
	float:right;
	padding: 3px;	
}

#rfPopFormContainer > ul li div:first-child	{
	float:left;
	width: 17px;
	background: #F0F0F0 url('../../img/drag_icon_fold.png') no-repeat scroll center center;
	cursor: move;
}

#rfPopFormContainer > ul li {
	padding: 0px;
	margin: 0px;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #999;
	content-align: top;
	font: normal normal normal 12px/1.1em 'Inconsolata', serif;
	clear:both;
}

#rfPopForm > p.header {
	background: #CCC;
	padding-left:22px;
	height: 14px;
}

#rfPopForm > p.header span{
	float: left;
	padding-left: 2px;
	margin-right: -2px;
	border-left: 1px solid #FFF;
	font: normal normal normal 12px/1.1em 'Inconsolata', serif;	
}

#rfPopFormContainer  > ul li textarea, #rfPopFormContainer  > ul li input{
	border: none;
	height: 23px;
	background-color: transparent;
	border-left: 1px solid #CCC;
	border-right: none;	
	overflow: hidden;
	font: normal normal normal 12px/1.1em 'Inconsolata', serif;
	padding: 2px;
	margin: -2px;
}

#rfPopFormContainer  > ul li input {
	border: none;
	width: 100%;
	margin: 4px -1px;
	padding: 0px;
}

#rfPopFormContainer  > ul li label {
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	width: 97px;
	height: 40px;
	padding-left: 3px;
}

#rfPopFormContainer > ul li textarea:last-child {
	border-right: 1px solid #CCC;
}

#rfPopFormContainer  > ul li label:last-child {
	border: none;
}

#rfPopFormContainer  > ul li select{
	float: right;
	padding: 0px;
	margin: 0px 5px;
}

#rfPopFormContainer  > ul li select.multiselect{
	height: 60px; 
	border: 1px solid #CCC; 
	margin:0px; 
	background-color: transparent
}

#rfPopFormContainer > ul {
	width: 100%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

